<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Framerly Docs</title>
  <style>
    pre {
      white-space: pre-wrap;
      word-break: break-word;
    }
  </style>
</head>

<body class="bg-white text-gray-800 font-sans leading-relaxed">
  <div class="min-h-screen flex flex-col">



    <!-- Main content -->
    <main class="max-w-4xl mx-auto px-6 py-10 flex-1 space-y-10">
       

      <!-- load doc component -->
      <component src="/docs"></component>



  </div>
</body>

</html>